/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  visibility: hidden;
  display: none;
  position: absolute;
}

@font-face {
  font-family: "Inconsolata";
  src: url("assets/fonts/inconsolata/Inconsolata-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata";
  src: url("assets/fonts/inconsolata/Inconsolata-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/inter/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/inter/Inter-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("assets/fonts/lora/Lora-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Lora";
  src: url("assets/fonts/lora/Lora-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("assets/fonts/lora/Lora-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --clr-neutral-800: hsl(0, 0%, 2%);
  --clr-neutral-700: hsl(0, 0%, 12%);
  --clr-neutral-600: hsl(0, 0%, 18%);
  --clr-neutral-500: hsl(0, 0%, 23%);
  --clr-neutral-400: hsl(0, 0%, 51%);
  --clr-neutral-300: hsl(0, 0%, 91%);
  --clr-neutral-200: hsl(0, 0%, 96%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --clr-accent-purple: hsl(274, 82%, 60%);
  --clr-accent-error: hsl(0, 100%, 66%);

  --fw-regular: 400;
  --fw-bold: 700;

  --ff-sans-serif: "Inter", sans-serif;
  --ff-serif: "Lora", serif;
  --ff-mono: "Inconsolata", monospace;

  --fs-heading-l: 4rem;
  --fs-heading-m: 1.5rem;
  --fs-heading-s: 1.25rem;

  --fs-body-m: 1.125rem;
  --fs-body-s: 0.875rem;
}

body[data-font="sans-serif"] {
  font-family: var(--ff-sans-serif);
}

body[data-font="serif"] {
  font-family: var(--ff-serif);
}

body[data-font="mono"] {
  font-family: var(--ff-mono);
}

body {
  --clr-bg: var(--clr-neutral-100);
  --clr-bg-secondary: var(--clr-neutral-200);

  --clr-line: var(--clr-neutral-300);

  --clr-text: var(--clr-neutral-600);
  --clr-text-secondary: var(--clr-neutral-400);

  --dropdown-shadow: rgba(0, 0, 0, 0.1);

  display: grid;
  justify-items: center;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  padding-bottom: 5.3125rem;
}

body:has([aria-label="dark"]) {
  --clr-bg: var(--clr-neutral-800);
  --clr-bg-secondary: var(--clr-neutral-700);

  --clr-line: var(--clr-neutral-500);

  --clr-text: var(--clr-neutral-100);
  --clr-text-secondary: var(--clr-neutral-400);

  --dropdown-shadow: var(--clr-accent-purple);

  background-color: var(--clr-bg);
  color: var(--clr-text);
}

.container {
  padding: 1.5rem;
  max-width: 46.0625rem;
  width: 100%;
  display: grid;
  gap: 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header__font {
  color: var(--clr-text);
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
  background-color: transparent;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: var(--fw-bold);
  font-size: 0.875rem;
  margin-left: auto;
  border-right: 1px solid var(--clr-neutral-400);
  padding-right: 1.625rem;
  margin-right: 1.625rem;
}

.header__font::after {
  display: block;
  content: "";
  background-image: url(/assets/images/icon-arrow-down.svg);
  background-size: 12px 6px;
  width: 12px;
  height: 6px;
}

.header__font[aria-expanded="true"] + .header__fieldset {
  visibility: visible;
}

.header__fieldset {
  background-color: var(--clr-bg);
  visibility: hidden;
  position: absolute;
  right: min(100px, 15vw);
  top: 50px;

  border: none;
  display: grid;
  box-shadow: 0px 5px 30px 0px var(--dropdown-shadow);
  width: max-content;
  padding: 1.5rem;
  padding-right: 4rem;
  border-radius: 1rem;
  gap: 1rem;
}

.header__fieldset > label {
  cursor: pointer;
}

.header__fieldset > label:is(:hover, :focus-within) {
  color: var(--clr-accent-purple);
}

.header__fieldset > label > input {
  appearance: none;
}

.header__label {
  font-weight: var(--fw-bold);
  font-size: 0.875rem;
}

.header__label--sans-serif {
  font-family: var(--ff-sans-serif);
}

.header__label--serif {
  font-family: var(--ff-serif);
}

.header__label--mono {
  font-family: var(--ff-mono);
}

.header__theme-button {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__theme-button::after {
  content: "";
  display: block;
  background-position: center;
  background-size: 1.25rem 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(assets/images/icon-moon.svg);
}

.header__theme-button[aria-label="dark"]::after {
  filter: brightness(0) saturate(100%) invert(34%) sepia(99%) saturate(2845%)
    hue-rotate(255deg) brightness(95%) contrast(96%);
}

.theme__con {
  width: 2.5rem;
  height: 1.25rem;
  border-radius: 9999px;
  background-color: var(--clr-neutral-400);
  padding: 0.1875rem;
  transition: 300ms;
}

.theme__circle {
  margin-left: 0;
  width: 0.875rem;
  height: 0.875rem;
  background-color: var(--clr-neutral-100);
  border-radius: 9999px;
  transition: 300ms;
}

.header__theme-button[aria-label="dark"] > .theme__con {
  background-color: var(--clr-accent-purple);
}

.header__theme-button[aria-label="dark"] > div > .theme__circle {
  margin-left: auto;
}

.form {
  width: 100%;
  display: grid;
  gap: 1rem;
}

.form__con {
  display: flex;
  background-color: var(--clr-bg-secondary);
  border: 1px solid var(--clr-bg-secondary);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

.form__con:is(:hover, :focus-visible) {
  border: 1px solid var(--clr-accent-purple);
}

.form__con--error {
  border: 1px solid var(--clr-accent-error) !important;
}

.form__input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--clr-text);
  font-weight: var(--fw-bold);
}

.form__submit {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.form__error {
  font-size: 1rem;
  color: var(--clr-accent-error);
}

.not-found {
  margin-top: 4rem;
  display: grid;
  gap: 1.5rem;
  justify-items: center;
  text-align: center;
}

.not-found__emoji {
  width: min-content;
  font-size: 4rem;
}

.not-found__paragraph {
  color: var(--clr-text-secondary);
}

.found__top {
  display: grid;
  grid-template-columns: 1fr auto;
}

.top__word {
  font-size: 2rem;
}

.top__phonetics {
  font-size: var(--fs-body-m);
  color: var(--clr-accent-purple);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.top__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  grid-row: 1 / 3;
}

.type__title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.125rem;
  font-style: italic;
  margin: 2rem 0;
}

.type__title::after {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--clr-line);
}

.type__subtitle {
  color: var(--clr-neutral-400);
  font-weight: var(--fw-regular);
  font-size: 1rem;
  margin: 1rem 0;
}

.type__list {
  display: grid;
  gap: 0.75rem;
  padding-left: 1.5rem;
}

.type__list > ::marker {
  color: var(--clr-accent-purple);
}

.type__list-con {
  display: grid;
  gap: 0.75rem;
}

.type__list-item {
  font-size: 0.9375rem;
}

.type__list-item--example {
  color: var(--clr-neutral-400);
}

.type__list--secondary {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  font-weight: var(--fw-bold);
  color: var(--clr-accent-purple);
}

.type__list--secondary > ::marker {
  font-size: 0;
}

.type__source {
  font-size: var(--fs-body-s);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-400);
  text-decoration: underline;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
}

.type__source::before {
  content: "";
  height: 1px;
  width: 100%;
  display: block;
  background-color: var(--clr-line);
  margin-bottom: 1.5rem;
}

.type__link {
  display: block;
  width: max-content;
  color: var(--clr-text);
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.type__link::after {
  display: block;
  content: "";
  background-image: url(assets/images/icon-new-window.svg);
  width: 0.875rem;
  height: 0.875rem;
  background-size: 0.875rem 0.875rem;
}

.type__link:is(:hover, :focus-visible) {
  color: var(--clr-accent-purple);
}

@media (min-width: 40rem) {
  .header__font {
    font-size: 1.125rem;
  }

  .form__input {
    font-size: 1.25rem;
  }

  .top__word {
    font-size: var(--fs-heading-l);
  }

  .top__phonetics {
    font-size: var(--fs-heading-m);
  }

  .type__title {
    font-size: var(--fs-heading-m);
  }

  .type__subtitle {
    font-size: var(--fs-heading-s);
  }

  .type__list-item {
    font-size: var(--fs-body-m);
  }

  .type__list--secondary {
    font-size: var(--fs-heading-s);
  }

  .type__source {
    font-size: var(--fs-body-s);
  }

  .type__link {
    font-size: var(--fs-body-s);
  }

  .container {
    padding: 4.25rem 2.5rem;
  }

  body {
    padding-bottom: 0;
  }
}

@media (min-width: 60rem) {
  .container {
    padding: 3.625rem 0;
    gap: 3.21875rem;
  }
}
